/* .content {
    min-height: calc(100vh - 184px);
} */
.siderStyle {
    background: white!important;
}
.menuStyle {
    text-align: left!important;
}
.mainStyle {
    height: calc(100vh - 156px);
    overflow: auto;
    text-align: left;
    border-radius: 10px;
}
.rightBar {
    height: calc(100vh - 156px);
    overflow: auto;
    text-align: left;
    border-radius: 10px;
    background: white;
    box-sizing: border-box;
    padding: 20px;
}
.admincardList {
    margin-top: 30px;
    /* border: 1px solid #E6E9ED; */
}
.admincardList .cards {
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
    height: 120px;
    text-align: center;
    /* line-height: 72px!important; */
    color: #6c757d!important;
}
.userMain {
    display: flex;
    height: 552px;
}
.userTable {
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
    margin-top: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 16px;
    padding-bottom: 36px;
}
.userCharts {
    margin-left: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
    margin-top: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 16px;
    padding-bottom: 50px;
}
.tableStyle {
    margin-top: 20px;
}
.tableData {
    margin-top: 20px;
    box-sizing: border-box;
    padding: 40px;
    border: 1px solid #e8e8e8;
    border-radius: 16px;
    padding-bottom: 26px;
}
.adminIcons {
    font-weight: 300;
    font-size: 34px;
    margin-top: 6px;
}
.admincardList .cards:hover .adminIcons{
    font-size: 40px;
}
.admincardList h4 {
    margin-top: 6px;
}