.homeList {
    text-align: left;
}
.cards {
    width: 100%;
    text-align: left;
    border-radius: 10px!important;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}
.listStyle {
    margin-bottom: 30px!important;
}
.listStyle .ant-list-items li{
    padding: 0!important;
    margin-bottom: 16px!important;
    border: none!important;
}
.cards .title {
    font-size: 22px;
    display: inline-block;
}
.cards .ant-card-meta-description {
    text-align: right;
    margin-bottom: 16px;
}
.cardsMessage ul {
    padding: 0;
    overflow: hidden;
    height: 36px;
    line-height: 36px;
}
.cardsMessage ul li {
    float: left;
    list-style: none;
    margin-right: 20px;
}
.shuline {
    margin: 0px!important;
    margin-top: 20px!important;
    margin-bottom: 10px!important;
}
.cards:hover {
    background: #f0fafd;
}
.cardsMessage .messageNum {
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
}
.listFoot {
    text-align: left;
}
.articalContent {
    word-wrap: break-word; 
    word-break: normal; 
    display: block;
    max-height: 260px;
    overflow: hidden;
    min-height: 120px;
}