.tabLists {
    margin-top: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}
.verCards {
    margin-top: 10px;
}
.verCards .cards {
    margin-bottom: 16px;
}
.adminList {
    height: calc(100vh - 510px);
    overflow: auto;
}
.layOutRight {
    display: flex;
}
.layOutRight  .rightIcons {
    font-size: 36px;
}
.layOutRight .rightCardMain {
    box-sizing: border-box;
    margin-left: 20px;
}