.tabLists {
    margin-top: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}
.verCards {
    margin-top: 10px;
}
.verCards .cards {
    margin-bottom: 16px;
}
.verCards .cards .ant-card-body{
    padding: 8px;
}
.adminList {
    height: calc(100vh - 510px);
    overflow: auto;
}
.layOutRight {
    display: flex;
}
.layOutRight  .rightIcons {
    padding-left: 10px;
    font-size: 46px;
}
.layOutRight .rightCardMain {
    font-size: 16px;
    box-sizing: border-box;
    margin-left: 20px;
    height: 69px;
    line-height: 69px;
    margin-right: 20px;
    overflow: hidden;
}